@media only screen and (max-width: 13000px) {
    .absolute-card {
        bottom: -90px;
    }
}
@media only screen and (max-width: 1000px) {
    .absolute-card {
        bottom: -120px;
    }
}
@media only screen and (max-width: 890px) {
    .absolute-card {
        bottom: -160px;
    }
}
@media only screen and (max-width: 635px) {
    .absolute-card {
        bottom: -50px;
    }
}
