@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
  font-size: 1.2em;
  width: 100%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  padding: 1em 0px 1em 2em;
  border-left: 8px double #f7a222;
  line-height: 2;
  position: relative;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #f7a222;
  font-size: 4em;
  position: absolute;
  left: 5px;
  top: -40px;
}

blockquote::after {
  content: "";
}

/* blockquote span {
  display: block;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
} */

.thumbs_up {
  color: green !important;
}
.thumbs_down {
  color: red !important;
}