.card-basic,
.card-premium,
.card-standard {
    margin: 0 2rem 1rem 0;
    padding: 0 0 0.5rem 0;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
    overflow: hidden;
    transition: all 0.1ms ease-in-out;
}

.card-basic:hover,
.card-premium:hover,
.card-standard:hover {
    transform: scale(1.02);
}

.card-header {
    height: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1rem 0;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.header-basic,
.btn-basic-basic {
    background: linear-gradient(135deg, rgb(0, 119, 238), #06c766);
}

.header-standard,
.btn-basic-standard {
    background: linear-gradient(135deg, #b202c9, #cf087c);
}

.header-premium,
.btn-basic-premium {
    background: linear-gradient(135deg, #eea300, #ee5700);
}

.payment_card_body {
    padding: 0.5rem 0;
}

.payment_card_body h2 {
    font-size: 2rem;
    font-weight: 700;
}

.card-element-container {
    color: #444;
    list-style: none;
}

.btn-basic {
    margin: 0.5rem 0;
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.1ms ease-in-out;
}

.btn-basic:hover {
    transform: scale(0.95);
}

.btn-basic:active {
    transform: scale(1);
}

.card-element-hidden {
    display: none;
}

.card_order_list {
    list-style: circle;
}