@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.pagination_container {
    background: #dde1e7;
    padding: 25px;
    width: 50vw;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    width: fit-content !important;
    flex: 1;
    text-align: center;
    margin: 0px 5px;
    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgb(94 104 121 / 29%);
}

.pagination li button {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 45px;
    width: 100%;
    display: block;
    line-height: 45px;
    font-family: "Poppins", sans-serif;
}

.pagination li.active button {
    font-size: 17px;
    color: #6f6cde;
}

/* .pagination li:first-child button {
    width: 120px;
}

.pagination li:last-child button {
    width: 100px;
} */

.pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination li.active button {
    /* font-size: 17px;
    color: #6f6cde; */
}

.pagination li:first-child {
    margin: 0 15px 0 0;
}

.pagination li:last-child {
    margin: 0 0 0 15px;
}






:root {
    --base: #f79f1f;
    --lighten: #130f40;
    --darken: #130f40;
    --white: #c8deeb;
    --shadow: 6px 6px 12px var(--darken), -6px -6px 12px var(--lighten);
    --inset: inset 6px 6px 12px var(--darken), inset -6px -6px 12px var(--lighten);
}

.svg_button {
    z-index: 10;
    /* position: absolute;
    width: 40px;
    height: 40px; */
    /* background-color: var(--base);
    color: var(--white);
    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow); */
    cursor: pointer;
}

/* #svg_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.svg_button.clicked {
    animation: shadowFadeOut 200ms ease-out forwards,
        shadowFadeIn 200ms 300ms ease-in forwards;
}

.svg_button.clicked svg {
    animation: fillFadeOut 200ms ease-out forwards,
        fillFadeIn 200ms 300ms ease-in forwards;
}

.wave {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 20px 20px 60px var(--darken), -20px -20px 60px var(--lighten);
    opacity: 0;
    animation: fadeIn 400ms ease-out forwards, outside_grow 5s ease-out,
        fadeOut 3s 2s forwards;
}

.wave::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: inset 20px 20px 60px var(--darken), inset -20px -20px 60px var(--lighten);
    animation: inside_grow 5s ease-out;
}

/** One of my worst keyframes, animate width & height.. */
@keyframes outside_grow {
    from {
        width: 20px;
        height: 20px;
    }

    to {
        width: 900px;
        height: 900px;
    }
}

/** This one is ugly too */
@keyframes inside_grow {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 880px;
        height: 880px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes shadowFadeIn {
    0% {
        box-shadow: var(--inset);
    }

    50% {
        box-shadow: none;
    }

    100% {
        box-shadow: var(--shadow);
    }
}

@keyframes shadowFadeOut {
    0% {
        box-shadow: var(--shadow);
    }

    50% {
        box-shadow: none;
    }

    100% {
        box-shadow: var(--inset);
    }
}

@keyframes fillFadeOut {
    from {
        fill: none;
    }

    to {
        fill: currentColor;
    }
}

@keyframes fillFadeIn {
    from {
        fill: currentcolor;
    }

    to {
        fill: none;
    }
}